# Dependencies
/vendor/

# PHP / Composer caches
/.phpunit.result.cache
/.phpunit.cache/
/.phpstan.cache/

# QA reports
/coverage/
/build/

# IDE files
/.idea/
/.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs and temp
*.log
*.tmp

/example.gitignore